services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./data:/var/lib/postgresql/data
    networks:
      - proxy
      - internal

  
  admin:
    image: adminer
    restart: always
    depends_on: 
      - postgres
    ports:
      - 8085:8080
    networks:
      - proxy
      - internal


networks:
  proxy:
    external: true
  internal:
    external: false
